* {
	font-family: 'Open Sans',sans-serif;
}
.container {
    /* margin-bottom: 15px; */
}

#app-container {
	width: 100%;
}

.header-top {
    background-color: #5a8a8e;
    font-size: 14px;
    padding: 8px 0px;
    padding-bottom: 0px;
    color: white;
}

.pull-right {
	list-style: none;

}

.pull-right li {
	/* float: left; */
}

.pull-right li a{
	color: white;
}

.pull-right .account-signin a{
	padding-right: 20px;
}

.logo-img img {
	height: 70px;
	background: #474c50;
}

.header-menu{
	background: rgb(112, 16, 17) !important;
}

.navbar ul {
	float: right;
	    margin-top: 3px;
}

.navbar-nav li a{ 
	color: white;
	    margin: 15px 15px 16px;
    border-radius: 15px;
    padding: 7px 18px 6px;
    border: 1px solid hsla(0,0%,100%,.4);
    font-size: 12px;
    font-weight: 500;
}

.navbar-nav li a:hover{ 
	color: black;
}

.navbar {
	margin: 0px;
}

footer {
	padding: 50px 0;
    background: rgba(61,61,61,1);
    color: white;
}

.header-footer {
	text-align: left;
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 2px;
}

.header-footer h3 {
	font-size: 18px;
	color: white;
}

.header-footer:after {
	left: 0;
    bottom: 0;
    height: 1px;
    width: 50px;
    content: " ";
    background: #fff;
    position: absolute;
}

footer ul li a {
	color: white;
	    margin-bottom: 3px;
    display: inline-block;
    font-size: 15px;
}

footer ul li {
	border-top: solid 1px #353535;
	padding-top: 12px;
	padding-bottom: 12px;
}

footer {
	    color: #999;
	    font-size: 13px;
	    line-height: 1.7;
}

.home-banner {
	padding: 15px 0px 15px 0px;
}

.bg-gray {
    background: #f5f6f7;
}

.box {
    padding: 40px 0;
    position: relative;
}

.box .box-title {
    text-align: center;
}

.box .box-title .box-title-name {
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
    color: #333;
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 1;
    padding-bottom: 28px;
}

.box .box-title .box-title-name span {
    color: #c7081b;
}

.vcs-number {
    margin: 0 auto 10px;
    width: 32px;
    height: 32px;
    text-align: center;
    color: #fff;
    background: #999;
    font-weight: 800;
    line-height: 32px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}


.v2-commit .v2-commit-step.col5 {
    width: 20%;
}

.v2-commit .v2-commit-step {
    float: left;
    position: relative;
    z-index: 3;
}

.v2-commit .v2-commit-step .vcs-img {
    height: 73px;
    text-align: center;
}

.v2-commit .v2-commit-inner:before {
    content: "";
    height: 1px;
    background: #c7081b;
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 231px;
}

.v2-commit .v2-commit-step a {
    display: block;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    color: #999;
}

.v2-commit .v2-commit-step a:hover{
    color: rgba(199, 8, 27, 1);
}

.v2-commit .v2-commit-step a span {
    font-weight: 400;
    font-style: italic;
    display: block;
    padding-top: 5px;
}

.v2-commit-buy .v2-commit-inner {
    margin-top: 40px;
}

.box .box-title .box-title-name:after {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    height: 9px;
    width: 150px;
    margin-left: -75px;
    border-top: 1px solid #c7081b;
    background: url(../images/box-title-bulet.png) no-repeat bottom center;
}

.descrription {
	background: rgba(240,240,240,.95);
	    padding: 40px 0px 40px 0px;
}

.description-content, .description-header {
	text-align: center;
}

.description-content h3 {
	    font-size: 17px;
    line-height: 20px;
    color: #444444ab;
}

.description-header h2 {
	    font-size: 20px;
	    color: #444444ab;
}

.descrription h2 {
	font-size: 22px;
}

.error {
    color: #dc3545!important;
}

.account-option {
    background: #ea7818;
    border: none;
}

.page-info-header {
    background: #ea7818;
    padding: 7px 0px 7px 0px;
    color: white;
}

.vertical-menu {
  width: 250px;
  margin-top: 15px;
    margin-bottom: 15px;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
  font-size: 15px;
}

.vertical-menu-icon {
    margin-right: 5px;
    font-size: 19px;
    margin-left: 5px;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #ccc;
}

.page-name {
    font-size: 17px;
}

.img-order-product img {
    width: 69px;
    height: 69px;
    float: left;
    margin-right: 10px;
}

.payment-order {
    padding: 10px 20px 20px 20px;
    background: #efefef;
}

th, td {
    text-align: center;
}